![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)
# Lab | Inferential statistics - T-test & P-value

## Import

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

## One tailed t-test

**One tailed t-test**<br>
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.<br>
<br>
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [3]:
df = pd.read_csv('files_for_lab/machine.txt', sep="\t")
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('.', '', regex=True)

In [4]:
df

   new_machine  ____old_machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [5]:
df.columns

Index(['new_machine', '____old_machine'], dtype='object')

In [6]:
df = df.rename(columns={'____old_machine': 'old_machine'})

In [7]:
# 0-hypothesis: the new machine is quicker than the old machine

In [8]:
#for the single tailed experiment
print('p value (single tailed): ',st.ttest_1samp(df['new_machine'],df['old_machine'].mean())[1]/2)

p value (single tailed):  0.00034831880383795163

In [9]:
# p is low, null must go!
# we reject the 0-hypothesis
# So there is no evidence that the new machine is quicker

## Matched Pairs Test

**Matched Pairs Test**<br>
In this challenge we will compare dependent samples of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal.<br>
<br>
Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [10]:
df = pd.read_csv('files_for_lab/pokemon.csv')
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('.', '', regex=True)

In [11]:
df.columns

Index(['#', 'name', 'type_1', 'type_2', 'total', 'hp', 'attack', 'defense',
       'sp_atk', 'sp_def', 'speed', 'generation', 'legendary'],
      dtype='object')

In [12]:
df.drop(['#'], axis=1, inplace=True)

In [13]:
st.ttest_rel(df['attack'], df['defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [14]:
# p is low, null must go!
# we reject the 0-hypthesis
# So defense and attack score are veeeery likely different beyond random variance

## ANOVA testing

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:<br>
    - Null hypothesis<br>
    - Alternate hypothesis<br>
    - Level of significance<br>
    - Test statistic<br>
    - P-value<br>
    - F table<br>
<br>
**Context**<br>
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder<br>
<br>
- State the null hypothesis<br>
- State the alternate hypothesis<br>
- What is the significance level<br>
- What are the degrees of freedom of model, error terms, and total DoF<br>
<br>
Data was collected randomly and provided to you in the table as shown:
<img src="https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png">

- H0 for ANOVA is always that the means of the various groups are the same
- H1 is that they are not the same. So that there is a difference in etching rate between plasma beams with different power
- degree of freedom of model: 12 = (15 Samples - 3 levels of power)

- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [15]:
df = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('.', '', regex=True)

In [16]:
df.columns

Index(['power_', 'etching_rate'], dtype='object')

In [17]:
df = df.rename(columns={'power_': 'power'})

In [18]:
df['power'] = df['power'].replace({' W': ''}, regex=True)

In [24]:
df

   power  etching_rate  plasma
0    160          5.43       0
1    180          6.24       0
2    200          8.79       0
3    160          5.71       1
4    180          6.71       1
5    200          9.20       1
6    160          6.22       2
7    180          5.98       2
8    200          7.90       2
9    160          6.01       3
10   180          5.66       3
11   200          8.15       3
12   160          5.59       4
13   180          6.60       4
14   200          7.55       4

In [20]:
df['plasma'] = df.groupby('power').cumcount() ##is the new index 
df_pivot = df.pivot(index='plasma', columns='power', values='etching_rate')
df_pivot.columns = ['Plasma_'+str(x) for x in df_pivot.columns.values]

In [21]:
df_pivot

        Plasma_160  Plasma_180  Plasma_200
plasma
0             5.43        6.24        8.79
1             5.71        6.71        9.20
2             6.22        5.98        7.90
3             6.01        5.66        8.15
4             5.59        6.60        7.55

In [22]:
st.f_oneway(df_pivot['Plasma_160'],df_pivot.Plasma_180,df_pivot.Plasma_200)

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [23]:
# so the means are not the same